@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

/*.fi-simple-layout {*/
/*    @apply bg-cyan-100/50;*/
/*}*/

/*.fi-simple-main {*/
/*    @apply bg-emerald-100/50;*/
/*} */

@media print {
    .fi-sidebar {
        display:none;
    }

    .fi-topbar {
        display: none;
    }

    .fi-sidebar-close-overlay {
        display: none;
    }

    .fi-main, .fi-page {
        display: block;
    }

    .fi-main, .fi-page {
        /*economy*/
        print-color-adjust: exact;
    }

    .fi-btn, .fi-btn-color-danger {
        display: none;
    }
}
